.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
*/build
*.apk
/build/
*/build
/build
build/*
build/
build
/.gradle
.gradle/
.gradle
/gradle
*/.gradle/*
*/app/build
*/.idea
*.iml
*.alloc
/.idea/
.idea/